/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.auction_error {
	color: red;
}

.auction-success {
	background-color: #0f834d !important;
}

.auction-error {
	background-color: #e2401c !important;
}

.has-finished, .auctiontime-left, .auction-current-bid, .auction-no-bid {
	display: block;
}

.auctionwatchlist {
	display: inline-flex;
	align-items: center;
}
