/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.auction_error {
	color: red;
}

.auction-success {
	background-color: #0f834d !important;
}

.auction-error {
	background-color: #e2401c !important;
}

.has-finished, .auctiontime-left, .auction-current-bid, .auction-no-bid {
	display: block;
}

.auctionwatchlist {
	display: inline-flex;
	align-items: center;
}

.auction-start-text {
	margin-top: 5px;
	font-size: 14px;
}

.auction-price {
	display: inline-block;
	width: auto;
	border: 0.5px solid rgba(0, 0, 0, 0.2);
	margin-right: 15px;
}

.auction-price-label {
	padding-left: 7px;
	display: inline-block;
}

.auction-price-incr-decr {
	padding: 0.8em !important;
	display: inline-block !important;
	width: 160px !important;
	font-size: 100% !important;
	max-width: 160px !important;
	margin: 0!important;
}

.auction-price-incr-decr::-webkit-inner-spin-button,
.auction-price-incr-decr::-webkit-outer-spin-button {
	opacity: 1;
	margin: 4px;
}

.auction-bid-simple {
	padding: 0.8em 1.41575em !important;
}

.box {
	background: #dff0d7;
}

.auction-time,
p.time-left,
p.auction_starts_in,
p.auction_time_left {
	margin: 0;
	padding: 0;
}

.timeLeft {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.time-left {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.time_left-box {
	background: #dff0d7;
	text-align: center;
	padding: 10px;
	color: #013220;
}

.time-span {
	font-size: 25px;
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}
.timeLeft .time_left-box {
	padding: 0;
	margin: 0;
}
.timeLeft .time-span {
	font-size: 12px;
	margin: 0;
	padding: 0;
}

.label-span {
	margin: 10px;
	font-size: 14px;
}
.timeLeft .label-span {
	margin: 0;
	font-size: 12px;
}

.product_list_widget > li {
	list-style: none;
}

.product_list_widget > li > a > img {
	display: block;
}

table td, table th {
	padding: 20px;
	border: 1px solid;
}
table {
	width: 100%;
	min-width: 240px;
	border-collapse: collapse;
	border-spacing: 2px;
	text-indent: initial;
	box-sizing: border-box;
	border-color: gray;
}
td {
	display: table-cell;
	vertical-align: inherit;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
